{% extends 'Rango/base.html' %}
{% load staticfiles %}
{% block title %}
	Index
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1 class="display-2">Rango says...</h1>
		{% if user.is_authenticated %}
		<h4 class="display-5">hey there {{ user.username }}!</h1>
		{% else %}
		<h4 class="display-5">hey there partner! </h1>
		{% endif %}
	</div>
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>Most Liked Categories</h4>	
			{% if categories %}
				<ul class="list-group">
					{% for category in categories %}
					<li class="list-group-item">
						<a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
						<button class="btn btn-primary btn-sm" style="background-color=#008CBA; border-radius:40%; padding: 4px 7px; font-size:10px; "> {{category.likes}} </button>
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
		</div>
		<div class="col-lg-6">
			<h4>Most Viewed Pages</h4>	
			{% if pages %}
				<ul class="list-group">
					{% for page in pages %}
					<li class="list-group-item">
						<a href="{{ page.url }}">{{ page.title }}</a>
						<button class="btn btn-primary btn-sm" style="background-color=#008CBA; border-radius:40%; padding: 4px 7px; font-size:10px; ">{{page.views}}</button>
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There is no such page present.</strong>
			{% endif %}
		</div>
	</div>
	<p>Views: {{ visits }} </p>
{% endblock %}